/* Color Theme  
 #53616B 
 #1B2C38 
 #181C1F - Base
 #33536B
 #8EA6B8
*/

/* ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* ----- Utility Styles ---- */

.container {
  width: 80vw;
  margin: 40px auto;
  max-width: 900px;
}

.img-right {
  float: right;
  margin: 10px 0 10px 20px;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.img-left {
  float: left;
  margin: 10px 20px 10px 0;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.img-center {
  display: block;
  margin: 20px auto;
  border: 1px solid #c0c0c0;
  padding: 5px;
}

/* ---- Responsive Images ----*/
img {
  max-width: 100%;
  height: auto;
}

/* ----- Global Styles ---- */

body {
  font-family: "Lato", sans-serif;
  margin: 0;
}

/* ------ Header ------- */

/* Add a black background color to the top navigation */
.topnav {
  /* background-color: #333; */
  background-color: #1C2833;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #2E86C1;
  color: white;
}

header.primary {
  background-color: #181c1f;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px #000000;
  /* Shorhand T,R,B,L*/
  padding: 6em 2em;
  position: relative;
}

header.primary::before {
  content: "";
  background-image: url("../img/dragon_feature.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.4;
}

header.primary h1 {
  font-size: 3.2rem;
  margin: 20px 0;
  position: relative;
}

header.primary h1 a {
  color: #ffffff;
  background-image: url("https://assets.codepen.io/7248/logo-2.png");
  display: block;
  width: 450px;
  height: 70px;
  margin: 0 auto;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

header.primary h2 {
  font-family: "Goldman", cursive;
  font-size: 2em;
  /* Shorhand Three Value Top, Left/Right, Bottom*/
  margin: 20px auto 40px;
  position: relative;
}

header.primary nav ul {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  max-width: 900px;
  margin: 20px auto;
}

header.primary nav li {
  list-style-type: none;
  padding: 0;
  width: 20%;
}

header.primary nav a:link,
header.primary nav a:visited {
  color: white;
  text-decoration: none;
  background-color: #000000;
  background-color: rgba(142, 166, 184, 0.4);
  padding: 8px 16px;
  border-radius: 10px;
  transition: 0.6s;
  display: block;
}

header.primary nav a:hover,
header.primary nav a:active {
  background-color: rgba(51, 83, 107, 0.8);
}

/* ------------- Content --------------- */

section#content {
  padding: 4em 0;
}

section#content h3{
  font-family: "Goldman", cursive;
  font-size: 1.2em;
  color: #33536b;
  border-bottom: 1px solid #c0c0c0;
}

section#content table{
  width:100%;
  border: 1px solid #c0c0c0;
  border-collapse:collapse;
}

section#content caption{
  font-weight:bold;
  font-size:1.5rem;
  margin:10px;
  font-family: "Goldman", cursive;
  font-size: 2em;
  color: #33536b;
}

section#content th {
  background:#181C1F;
  color:#ffffff;
  text-align:left;
  padding:10px;
}

section#content td{
  border:1px solid #c0c0c0;
  padding:5px;
}

section#content tr:nth-child(even){
  background:#DCDCDC;
}

section#content tr:hover{
  background:#8EA6B8;
}

/* ------------- Articles --------------- */

section#articles {
  background: #181c1f;
}

section#articles .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  border-bottom: 1px solid #c0c0c0;
  padding: 0 0 4em 0;
}

section#articles h2,
#content h2 {
  flex: 0 0 100%;
  color: #33536b;
  text-align: center;
  font-family: "Goldman", cursive;
  font-size: 2em;
}

section#articles h2 {
  color: #fff;
  text-shadow: 2px 2px #000;
}

#articles article.post {
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 10px;
  transition: 0.6s;
  font-size: 0.8rem;
  border-radius: 10px;
  background: #fff;
}

#articles article.post h2 {
  font-size: 1.5em;
  text-shadow: none;
}

#articles article.post:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

#articles article time,
#articles article figcaption,
#articles article footer {
  font-size: 0.8em;
  color: #c0c0c0;
  text-transform: uppercase;
}

#articles .post a:link,
#articles .post a:visited {
  color: #3b638b;
}

#articles .post figure {
  margin: 0;
}

#articles .post img {
  border-radius: 10px;
}

#articles ul {
  padding: 0 20px;
}
#articles li {
  margin-bottom: 20px;
}

/* ------------- Hero --------------- */
.hero-image {
  background-image: url("../img/mission_feature.jpg");
  /* height: 50%; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: auto;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

#hero {
  padding: 0em 0;
  margin: -26px;
}


/* ------------- SlideShow --------------- */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Text Block For Slideshow */
.text-block {
  position: absolute;
  width: 40%;
  bottom: 20px;
  right: 580px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.3); 
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* ------------- Aside --------------- */

/* Attribute Selector */
aside[role="complementary"] {
  background-color: #181c1f;
  color: #ffffff;
  padding: 2.5em;
}

aside .container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

aside article.widget {
  width: 40%;
  text-align:justify;
}

.widget.overview table {
  font-size: 0.7em;
  border-collapse: collapse;
  width:100%;
}

.widget.overview table td {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.widget.overview table td:nth-child(even) {
  text-align: right;
}

aside article a:link,
aside article a:visited {
  color: #ffffff;
  display: block;
  margin-top: 1.2em;
  letter-spacing: 1.2px;
}

aside article a:hover,
aside article a:active {
  text-decoration: none;
}

aside article footer {
  display: none;
}

/*------ Footer ------*/

footer#colophon {
  background-color: #1b2c38;
}

#colophon h6 {
  padding: 20px;
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 0.9rem;
  text-transform: uppercase;
}

#colophon h6 a:link,
#colophon h6 a:visited {
  color: #fff;
}


/* ---------------Media Queries----------------- */

@media screen and (max-width: 600px) {
  header.primary nav ul {
    flex-direction: column;
    margin: 0 auto;
    width: 400px;
  }

  header.primary nav ul li {
    margin-bottom: 10px;
    width: 400px;
  }

  header.primary nav ul li a {
    display: block;
  }

  section#articles .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #c0c0c0;
    padding: 0 0 4em 0;
  }

  #articles article.post {
    width: 100%;
    margin-bottom: 2em;
  }
  
  aside .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
  
  aside article.widget {
  width: 100%;
}
  
}

/* ---------------FAQ Collapsibles----------------- */
.collapsible {
  background-color: #1C2833; /*#777; */
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.faqAnswers {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* ---------------Recent History Content----------------- */
#recentHistory {
  padding: 4em 0;
}

#recentHistory table{
  width:100%;
  border: 1px solid #c0c0c0;
  border-collapse:collapse;
}

#recentHistory th {
  background:#181C1F;
  color:#ffffff;
  text-align:left;
  padding:10px;
}

#recentHistory td{
  border:1px solid #c0c0c0;
  padding:5px;
}

#recentHistory tr:nth-child(odd){
  background:#DCDCDC;
}

#recentHistory tr:hover{
  background:#8EA6B8;
}

#recentHistory h2{
  font-family: "Goldman", cursive;
  font-size: 1.2em;
  color: #33536b;
  text-align: center;
  border-bottom: 1px solid #c0c0c0;
}